
md-dialog {
  width: 540px;
  border-radius: 8px;
}

md-dialog md-dialog-content {
  display: block;
  padding: 35px 35px 18px;
  overflow: hidden;
}

md-dialog md-dialog-content p {
  line-height: 26px;
}

md-dialog md-dialog-content p + input {
  margin-top: 20px;
  width: 100%;
}

md-dialog .md-actions {
  padding-bottom: 16px;
}

md-dialog .md-actions .md-button {
  margin: 0 10px;
}

md-dialog.md-content-overflow .md-actions {
  border: none;
}

.dialog-dxb {
  margin-bottom: 7px;
}

.dialog-dxb .innner-subtitle {
  margin-left: 10px;
}

.dialog-actions.chap-ft {
  padding-right: 10px;
  padding-bottom: 24px;
}
.dialog-mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 8000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog-container {
  display: none;
  position: fixed;
  z-index: 8000;
  left: 50%;
  top: 50%;
  width: 540px;
  margin-left: -270px;
  margin-top: -82px;
}

.dialog-container.dialog-big {
  width: 720px;
  margin-left: -360px;
  margin-top: -270px;
}

.dialog-content {
  padding: 35px 35px 18px;
}

.dialog-content .dia-p {
  line-height: 26px;
  margin-bottom: 13px;
}

.dialog-content .error-text {
  padding: 10px 0 0 20px;
}

.dialog-content input {
  width: 100%;
}

.dialog-content button {
  margin-left: 12px;
}

.dialog-actions {
  text-align: right;
  padding-bottom: 16px;
  padding-right: 10px;
}

.strengthen {
  height: 500px;
  overflow-y: auto;
}

.dialog-mask.dialog-transition-in,
.dialog-wrap.dialog-transition-in {
  display: block;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.dialog-wrap.dialog-transition-out {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0.5);
          transform: translate3d(0, 0, 0) scale(0.5);
  -webkit-transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.dialog-mask.dialog-transition-out {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.popup-enter {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0.5);
          transform: translate3d(0, 0, 0) scale(0.5);
}

.popup-enter.popup-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.popup-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}

.popup-leave.popup-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0.5);
          transform: translate3d(0, 0, 0) scale(0.5);
  -webkit-transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.popup-2-enter {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}

.popup-2-enter.popup-2-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.popup-2-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}

.popup-2-leave.popup-2-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.dialog-content.dia-practise {
  padding: 30px;
}

.dialog-content.dia-practise .task-content {
  margin: 0;
  padding: 0 20px;
  min-height: auto;
}

.dialog-content.dia-practise .task-content .task-content-left {
  padding-top: 24px;
  width: 290px;
}

.dialog-content.dia-practise .task-content .task-content-right {
  padding-top: 24px;
  width: 290px;
}

.dialog-content.dia-practise .teach-target {
  min-height: 340px;
  overflow-y: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.dialog-content.dia-practise .teach-target .task-topic div {
  line-height: 28px;
}

.dialog-content.dia-practise .task-option .svglist {
  left: -36px;
  top: -5px;
}

.dialog-content.dia-practise .task-option {
  margin-bottom: 16px;
}

.dialog-content.dia-practise textarea {
  width: 289px;
}

.dialog-content.dia-practise .multi-line,
.enter-layer-div .multi-line {
  width: 80px;
  border-bottom: 2px solid #888;
  text-align: center;
}

.dialog-content.dia-practise .multi,
.enter-layer-div .multi {
  width: 20px;
  height: 20px;
  line-height: 21px;
  text-align: center;
}

.dialog-content.dia-practise .multi-input,
.enter-layer-div .multi-input {
  border: none;
  padding-left: 0;
  height: auto;
  border-radius: 0;
  line-height: 16px;
  width: 100%;
}

.dialog-content.dia-practise .multi-num,
.enter-layer-div .multi-num {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 15px;
  width: 20px;
  height: 20px;
  line-height: 21px;
  text-align: center;
}

.dialog-content.dia-practise .multi-div .anster-div,
.enter-layer-div .multi-div .anster-div {
  border: none;
  padding-left: 3px;
}

.dialog-content.dia-practise .multi-div.current,
.enter-layer-div .multi-div.current {
  background: white !important;
}

.dialog-content.dia-practise .multi-anster,
.enter-layer-div .multi-anster {
  margin-bottom: 20px;
}

.dia-practise-ft {
  padding: 6px 5px 0 0;
  height: 44px;
}

.dia-practise-ft button {
  height: 32px;
  font-size: 14px !important;
}

.dia-practise-ft button i {
  position: relative;
  left: -6px;
  top: -1px;
  font-size: 26px;
}

.dialog-content.dia-practise-2 {
  position: relative;
  padding-bottom: 0;
}

.dialog-content.dia-practise-2 .dia-p em {
  margin-right: 10px;
}

.dialog-content.dia-practise-2 .practice-sign-box {
  position: absolute;
  top: 30px;
  right: 45px;
  width: 460px;
}

.dialog-content.dia-practise-2 .practice-sign {
  margin-left: 20px;
  width: 400px;
}

.dialog-content.dia-practise-2 .practice-ul li {
  padding-top: 0;
  text-align: center;
  width: 40px;
}

.dialog-content.dia-practise-2 .practice-ul li img {
  margin-top: 10px;
  width: 26px;
  height: 26px;
  border: 3px solid #fff;
}

.dialog-content.dia-practise-2 .practice-ul li.current img[data-color='red'] {
  border: 3px solid #ffd1cb;
}

.dialog-content.dia-practise-2 .practice-ul li.current img[data-color='green'] {
  border: 3px solid #d9f1a6;
}

.dialog-content.dia-practise-2 .svgteacher {
  font-size: 20px;
}

.dialog-content .dia-input-div {
  position: relative;
}

.dialog-content .dia-input-div .error-text {
  position: absolute;
  left: 480px;
  top: 3px;
  white-space: nowrap;
  padding: 0 13px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  background-color: rgba(60, 60, 60, 0.8);
  opacity: .9;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}

.dialog-content .dia-input-div .error-text::before {
  position: absolute;
  left: -6px;
  content: url("./prompt.svg");
}

.dialog-content .dia-input-div .error-text.show {
  -webkit-animation: inShow .4s forwards;
          animation: inShow .4s forwards;
}

.dialog-content .dia-input-div .svgform {
  position: absolute;
  top: 9px;
  right: 12px;
  opacity: 0;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.dialog-content .dia-input-div .svgform.show {
  -webkit-animation: inScale .1s forwards;
          animation: inScale .1s forwards;
}

.dialog-dxb .ident-large {
  position: relative;
  top: -3px;
  margin-right: 6px;
}

.dialog-actions.ft-center {
  padding: 15px 0 35px;
  text-align: center;
}

#onion-content:before,
#onion-content-box:before,
.alternate:before,
md-dialog md-dialog-content:before,
.radio-layer:before,
.start-box:before,
.chapter-box:before,
.cha-list:before,
.list-dl:before,
.hd-module:before,
.attention:before,
.ques-ul:before,
.ques-layer:before,
.renew-ul:before,
.alert-div:before,
.alert-r:before,
.uf-left:before,
.uf-right:before,
.uf-issue:before,
.issue:before,
.compa-content:before,
.guide-bd:before,
.box-guid:before,
.radio-list:before,
.radio-group:before,
.guid-content:before,
.publisher-div:before,
.publisher-ul:before,
.wid-box:before,
.wid-html p:before,
.select-value:before,
.dialog-content:before,
.questionnaire-1:before,
.pay-serve-div:before,
.pay-serve-ul:before,
.pay-content:before,
.pay-alert-div:before,
.pay-scan:before,
.add-students:before,
.state-box:before,
.state-ul:before,
.dialog-content.dia-practise .teach-target:before,
.market-div:before,
.market-ul:before,
.list-topic:before,
.detail-choice-div:before,
.detail-choice:before,
.task-pos:before,
.task-content:before,
.task-content-right:before,
.anster-div:before,
.task-ft:before,
.task-analysis:before,
.analysis-text:before,
.do-task:before,
.task-video-exercise:before,
.task-video-exercise-box:before,
.task-exercise-caption:before,
.task-exercise-left:before,
.finish-box:before,
.user-bg:before,
.user-treasure:before,
.user-nav:before,
.user-box .radio-list:before,
.sear-list-ul:before,
.ticket-box:before,
.ticket-rules:before,
.vip-hd:before,
.vip-text:before,
.vip-text h4:before,
.refund-radio:before,
.bin-box:before,
.bin-box li:before,
.tea-guide-div:before,
.video-box-1:before,
.task-video-box:before,
.unautherized:before,
.autherized:before,
.sound-div:before,
.hy-volume-bar:before,
.video-notice-center .notice-btn-div:before,
md-select-menu md-content:before,
.attention .layer-box:before,
.user-feedback:before,
.compatibility:before,
.dialog-container:before,
.list-topic li:before,
.main-3:before,
.white-board:before,
.ability-guide:before,
.add-students li:before,
.market-ul li:before,
.main:before,
.main-2:before,
.left-board:before,
.wrape-main:before,
.wrape-mid:before,
.right-board:before,
#onion-content:after,
#onion-content-box:after,
.alternate:after,
md-dialog md-dialog-content:after,
.radio-layer:after,
.start-box:after,
.chapter-box:after,
.cha-list:after,
.list-dl:after,
.hd-module:after,
.attention:after,
.ques-ul:after,
.ques-layer:after,
.renew-ul:after,
.alert-div:after,
.alert-r:after,
.uf-left:after,
.uf-right:after,
.uf-issue:after,
.issue:after,
.compa-content:after,
.guide-bd:after,
.box-guid:after,
.radio-list:after,
.radio-group:after,
.guid-content:after,
.publisher-div:after,
.publisher-ul:after,
.wid-box:after,
.wid-html p:after,
.select-value:after,
.dialog-content:after,
.questionnaire-1:after,
.pay-serve-div:after,
.pay-serve-ul:after,
.pay-content:after,
.pay-alert-div:after,
.pay-scan:after,
.add-students:after,
.state-box:after,
.state-ul:after,
.dialog-content.dia-practise .teach-target:after,
.market-div:after,
.market-ul:after,
.list-topic:after,
.detail-choice-div:after,
.detail-choice:after,
.task-pos:after,
.task-content:after,
.task-content-right:after,
.anster-div:after,
.task-ft:after,
.task-analysis:after,
.analysis-text:after,
.do-task:after,
.task-video-exercise:after,
.task-video-exercise-box:after,
.task-exercise-caption:after,
.task-exercise-left:after,
.finish-box:after,
.user-bg:after,
.user-treasure:after,
.user-nav:after,
.user-box .radio-list:after,
.sear-list-ul:after,
.ticket-box:after,
.ticket-rules:after,
.vip-hd:after,
.vip-text:after,
.vip-text h4:after,
.refund-radio:after,
.bin-box:after,
.bin-box li:after,
.tea-guide-div:after,
.video-box-1:after,
.task-video-box:after,
.unautherized:after,
.autherized:after,
.sound-div:after,
.hy-volume-bar:after,
.video-notice-center .notice-btn-div:after,
md-select-menu md-content:after,
.attention .layer-box:after,
.user-feedback:after,
.compatibility:after,
.dialog-container:after,
.list-topic li:after,
.main-3:after,
.white-board:after,
.ability-guide:after,
.add-students li:after,
.market-ul li:after,
.main:after,
.main-2:after,
.left-board:after,
.wrape-main:after,
.wrape-mid:after,
.right-board:after,
.clear-fix:before,
.clear-fix:after {
  content: " ";
  display: table;
}

#onion-content:after,
#onion-content-box:after,
.alternate:after,
md-dialog md-dialog-content:after,
.radio-layer:after,
.start-box:after,
.chapter-box:after,
.cha-list:after,
.list-dl:after,
.hd-module:after,
.attention:after,
.ques-ul:after,
.ques-layer:after,
.renew-ul:after,
.alert-div:after,
.alert-r:after,
.uf-left:after,
.uf-right:after,
.uf-issue:after,
.issue:after,
.compa-content:after,
.guide-bd:after,
.box-guid:after,
.radio-list:after,
.radio-group:after,
.guid-content:after,
.publisher-div:after,
.publisher-ul:after,
.wid-box:after,
.wid-html p:after,
.select-value:after,
.dialog-content:after,
.questionnaire-1:after,
.pay-serve-div:after,
.pay-serve-ul:after,
.pay-content:after,
.pay-alert-div:after,
.pay-scan:after,
.add-students:after,
.state-box:after,
.state-ul:after,
.dialog-content.dia-practise .teach-target:after,
.market-div:after,
.market-ul:after,
.list-topic:after,
.detail-choice-div:after,
.detail-choice:after,
.task-pos:after,
.task-content:after,
.task-content-right:after,
.anster-div:after,
.task-ft:after,
.task-analysis:after,
.analysis-text:after,
.do-task:after,
.task-video-exercise:after,
.task-video-exercise-box:after,
.task-exercise-caption:after,
.task-exercise-left:after,
.finish-box:after,
.user-bg:after,
.user-treasure:after,
.user-nav:after,
.user-box .radio-list:after,
.sear-list-ul:after,
.ticket-box:after,
.ticket-rules:after,
.vip-hd:after,
.vip-text:after,
.vip-text h4:after,
.refund-radio:after,
.bin-box:after,
.bin-box li:after,
.tea-guide-div:after,
.video-box-1:after,
.task-video-box:after,
.unautherized:after,
.autherized:after,
.sound-div:after,
.hy-volume-bar:after,
.video-notice-center .notice-btn-div:after,
md-select-menu md-content:after,
.attention .layer-box:after,
.user-feedback:after,
.compatibility:after,
.dialog-container:after,
.list-topic li:after,
.main-3:after,
.white-board:after,
.ability-guide:after,
.add-students li:after,
.market-ul li:after,
.main:after,
.main-2:after,
.left-board:after,
.wrape-main:after,
.wrape-mid:after,
.right-board:after,
.clear-fix:after {
  clear: both;
}

.chap-nav,
.chap-nav .line-blue,
.cha-list li,
.list-dl dd p,
.ability-guide .arrow-r-4,
.attestation-div,
.attestation-div .attest-space,
.attestation-div .attest-line,
.attest-body,
.attest-left,
.attest-box,
.attest-right,
.attent-task .task-state i,
.issue,
.issue-hd,
.issue-hd h3,
.guide-bd,
.radio-list,
.guid-video,
.guid-practice,
.guid-layer .angle,
.guide-img,
.header-right .chose-text,
.button.fab.w-32,
.offline-speed,
.offline-speed-ul,
.pay-video,
.pay-serve-ul li h3,
.pay-serve-ul .line-gray,
.table .member-box,
.operate-box,
.state-box,
.state-ul li,
.market-ul h3,
.market-ul p,
.head-portrait,
.task-content,
.task-btn-box button,
.task-cover .cover-line,
.progress-div .progress-cell,
.progress-bar,
.progress-bar div,
.progress-bar i,
.pro-fire-bar .svgchapter,
.finish-box .finish-level em,
.user-treasure li .line-gray,
.vip-text h4,
.user-headline .icon-score,
.video-control-rollback,
.hy-volume-bar li i,
.video-notice .icon {
  overflow: hidden;
}

.shadow-1,
.img-r-box,
.attestation-div,
.attestation-div .attest-hd {
  box-shadow: 0 0 15px rgba(100, 100, 100, 0.1);
}

md-select-menu md-content,
.attention .layer-box,
.user-feedback,
.compatibility,
.select-value,
.dialog-container,
.list-topic li,
.main-3,
.white-board {
  box-shadow: 0 0 15px rgba(100, 100, 100, 0.1);
  background-color: #fff;
  border-radius: 10px;
}

.ability-guide {
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.1);
  background-color: #fff;
}

.add-students li,
.market-ul li {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
}

header {
  box-shadow: 0 0 10px rgba(120, 120, 120, 0.1);
  background-color: #fff;
}

.plus-box,
.reward-div,
.proceed-div {
  background-color: rgba(59, 59, 59, 0.9);
}

.unautherized,
.autherized,
.hy-volume-bar {
  box-shadow: 0 2px 3px 1px rgba(219, 219, 219, 0.5);
}

.list-dl dd p,
.rank-ul h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.state-hd.state-blue-3 .icon-stage {
  color: #60bdf1;
}

.integral li:nth-child(1) i,
.video-notice .blue {
  color: #2da9ee;
}

md-dialog md-dialog-content .blue,
md-select-menu md-option[selected],
md-select-menu.md-default-theme,
.start-text span,
.chap-nav-ul li.current,
.chap-nav-ul li.current:hover,
.rank-xbt .rank-icon,
.ability-guide h4 .blue,
.concise-info .blue,
.headline .blue,
.guid-layer .blue,
.wid-html p i,
.button.fab.c-blue,
.button.fab.c-blue:hover,
.pay-guide .theme-checkbox strong .strange-2,
.pay-price-cent,
.dia-cont-text p .blue,
.p-price-cent,
.table .check,
.state-hd.state-blue-5 .icon-stage,
.task-hint .blue,
.hint-wrap .get-left .span-box,
.warn.bg-blue,
.finish-box .blue,
.finish-box .score-box .icon-score,
.finish-box .score-box .score-num,
.text-font-36,
.user-headline .icon-score,
.centification-div .ident-clause .clause-1 .blue,
.tea-guide-div .blue,
.speed-ul .current h4,
.autherized .current,
.video-control-rollback:hover .icon,
.video-control-volume:hover .icon,
.full-screen-box:hover .icon,
.full-screen-box-exit:hover .icon {
  color: #1696ea;
}

md-toolbar.md-warn > md-tabs.md-default-theme,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]),
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-focused:not([disabled]),
.wid-html .green,
.analysis-text,
.analysis-other,
.warn.bg-green {
  color: #6eb805;
}

.error-text,
.wid-h2 .red,
.wid-html .red,
.warn.bg-red,
.class-search .font-12 {
  color: #e14116;
}

.state-hd.state-gold .icon-stage {
  color: #ffde59;
}

.add-p,
.integral li:nth-child(2) i,
.reward-div .reward-num em {
  color: #fbcf00;
}

.state-hd.state-gold .icon-hd,
.state-hd.state-gold em,
.state-hd.state-gold strong,
.state-hd.state-gold .help-tea,
.hint-wrap .get-right .span-box,
.user-treasure .icon,
.vip-text h4 {
  color: #f6c115;
}

.state-hd .icon-stage,
.school-search .icon-search {
  color: #dadada;
}

textarea,
md-toolbar.md-warn > md-tabs.md-default-theme,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]),
.list-dl dt span,
.integral-graph p,
.rank-ul .student-name,
.p-required,
.upgrade-tip .img-colsed,
.uf-subtitle-3,
.theme-checkbox strong,
.header-right .lv-top,
.url-div p,
.table .btn-size-14,
.sear-list-ul li em,
.control-to-teacher .video-download .cur-download.disable,
.speed-ul .disable-link h4,
.speed-ul .disable-link p {
  color: #bebebe;
}

.task-ft .md-select-value,
md-select.md-default-theme:not([disabled]):focus,
md-select:not([disabled]):focus .md-select-value,
md-select.md-default-theme,
md-select .md-select-value.md-select-placeholder,
.chap-nav-ul li,
.attent-task .attent-task-box,
.attent-task .attent-task-num,
.attent-task p,
.answer,
.radio-group li p,
.select-wrap .chosen,
.button.fab,
.task-close-2 i,
.task-close-2 span,
.guide-box-mobile.show .step-div h6,
.integral li,
.state-hd .icon-hd,
.state-hd em,
.state-hd strong,
.state-hd .help-tea,
.dialog-content.dia-practise .anster-div,
.topic-bt p,
.topic-bt .video-num-box,
.school-box .theme-radio strong,
.user-bind h3,
.ticket-box li p,
.ticket-box li h3,
.video-notice p,
.video-notice .icon,
.video-notice .notice-link {
  color: #a2a2a2;
}

.dialog-dxb .innner-subtitle,
.task-ft .md-select-value:hover,
input[type='text'],
input[type='password'],
input[type='number'],
textarea:focus,
input.error,
input:focus,
.chap-nav-ul li:hover,
.rank-ul em,
.attention figure,
.attention .layer-box p,
.ques-layer .theme-checkbox strong,
.renew-ul .theme-checkbox strong,
.compa-content,
.select-wrap .chosen:hover,
.select-wrap .chosen:hover .icon,
.button.fab:hover,
.table.offline-table .download-num,
.table.offline-table .failure-text,
.pay-guide .theme-checkbox strong,
.table td:last-child .icon,
.task-challenge em,
.user-box .school-box .md-checked .md-label,
.sear-list-ul li {
  color: #888;
}

.task-topic,
.task-num,
.task-exercise-left,
.task-exercise-right,
.control-to-teacher .cur-speed,
.control-to-teacher .cur-definition,
.control-to-teacher .video-download .cur-download,
.speed-ul h4,
.speed-ul p,
.autherized p,
.video-control-rollback .icon,
.video-control-volume .icon,
.full-screen-box .icon,
.full-screen-box-exit .icon,
.pause .icon,
.video-control-bg .icon-volume,
.video-control-bg .icon-full-screen,
.button.fab.btn-share .icon,
.ident-clause dt {
  color: #6a6a6a;
}

.dialog-dxb,
.start-text,
.cha-list h3,
.list-dl dt,
.hd-module h2,
.rank-xbt span,
.rank-xbt em,
.rank-ul h4,
.attention .layer-box h4,
.attention .layer-box h6,
.ability-guide h4,
.concise-info h3,
.uf-headline,
.uf-subtitle,
.uf-subtitle-2,
.uf-headline-2,
.compa-headline,
.headline,
.radio-list h3,
.guid-layer .guid-text,
.publisher-div h2,
.wid-h2,
.guide-box-3.show .step-div h6,
.guide-box-4.show .step-div h6,
.step-div h4,
.offline-speed-ul h3,
.caption-4,
.pay-div h4,
.p-tip,
.hd-cont,
.p-price,
.headline-2,
.strong-title,
.add-students h3,
.headline-3,
.table th,
.market-ul h3,
.topic .box-hd h1,
.topic-bt h3,
.fire-span,
.task-hd h1,
.task-hint h2,
.progress-text,
.pro-num,
.finish-box h3,
.finish-box h4,
.user-treasure h5,
.user-headline,
.headline-1,
.user-box label,
.school-select strong,
.center-table th,
.create-onion h4,
.bt-font-16,
.headline-level-3,
.refund-box h4,
.refund-radio .current strong,
.refund-treatment h4,
.bin-box strong,
.tea-guide-div h2,
.tea-guide-div strong,
.video-notice-center p,
.bt-font-18,
.ident-clause .clause-1 h4 {
  color: #3b3b3b;
}

md-tooltip,
.show-tip,
.loading-box p,
.integral-graph .integral-pillar,
.upgrade-tip h1,
.upgrade-tip p,
.attestation-div,
.attest-right .attest-right-ul li p,
.theme-radio:active .sign em,
.theme-radio.current .sign em,
.row-box .error-text,
.tip-bottom,
.tip-center,
.button.fab.bg-blue,
.tip,
.table.offline-table .download-progress .download-text,
.pay-video-box h3,
.pay-hd .price-cur,
.state-hd.state-blue-3 .icon-hd,
.state-hd.state-blue-3 em,
.state-hd.state-blue-3 strong,
.state-hd.state-blue-3 .help-tea,
.state-hd.state-blue-5 .icon-hd,
.state-hd.state-blue-5 em,
.state-hd.state-blue-5 strong,
.state-hd.state-blue-5 .help-tea,
.dialog-content.dia-practise .multi,
.enter-layer-div .multi,
.dialog-content.dia-practise .multi-num,
.enter-layer-div .multi-num,
.headline-8,
.wealth-right span,
.occupied,
.color-board h4,
.let-students-join p,
.tab-button button,
.task-option.current,
.task-option.current .task-num,
.multi-num,
.video-guide,
.task-cover,
.task-cover .cover-p,
.pattern,
.plus-box,
.finish-box .finish-level em,
.finish-box .finish-com,
.reward-div,
.proceed-div,
.multi,
.user-id h1,
.dialog-content .dia-input-div .error-text,
.user-box .row-box .error-text,
.ticket-box li i,
.integral-table th,
.centification-div .ident-clause .authenticated,
.ft-center-certification .button .window-icon,
.part-div h4,
.part-div p,
.load-error .message,
.failedMsg p,
.pause,
.pause:hover .icon,
.button.fab.btn-share,
.button.fab.btn-share:hover .icon,
.ident-clause .clause-num {
  color: #fff;
}

.task-challenge span {
  color: #000;
}

md-tabs.md-default-theme,
md-tabs md-tabs-wrapper,
.tree-space,
.list-space,
.rank-ul li:hover .student-name,
.guid-layer,
.wid-white,
.theme-radio .sign em,
.theme-checkbox .sign em,
.button.fab.bg-white,
.task-close-2,
.guide-box.show,
.guide-box-2.show,
.guide-box-3.show,
.guide-box-4.show,
.guide-box-mobile.show,
.step-div,
.line-pay i,
.color-board p i,
.task-ordinary,
.task-challenge,
.task-option,
.task-answer,
.finish-box .finish-level,
.school-search input,
.center-table tbody tr,
.user-avatar,
.video-control-bg,
.unautherized,
.autherized,
.hy-volume-bar,
.pause,
.button.fab.btn-share {
  background-color: #fff;
}

.button.fab.c-blue .circle,
.warn.bg-blue {
  background-color: #bbe7f6;
}

.state-hd.state-blue-3,
.task-cover .cover-line {
  background-color: #60bdf1;
}

.integral-box .progress-box .progress-bar,
.integral-graph .integral-pillar,
.task-cover {
  background-color: #2da9ee;
}

.chap-nav .line-blue,
.attestation-div,
.attestation-div .attest-space,
.theme-checkbox:active .sign em,
.theme-checkbox.current .sign em,
.loading span,
.button.fab.bg-blue,
.table.offline-table .download-progress .download-blue,
.pay-hd .price-box,
.operate-box,
.state-hd.state-blue-5,
.topic-blue .color-board,
.arc-blue .choice-box,
.pattern.bg-blue,
.finish-box .finish-level em,
.finish-box .finish-time,
.integral-table th,
.centification-div .ident-clause .authenticated,
.hy-volume-bar li.current i,
.video-progress-3,
.video-progress-4,
.pause:hover,
.button.fab.btn-share:hover,
.ident-clause .clause-num {
  background-color: #1696ea;
}

.attestation-div .attest-line,
.topic-blue .color-board i {
  background-color: #117ed1;
}

.task-analysis,
.warn.bg-green {
  background-color: #d9f1a6;
}

.pattern.bg-green {
  background-color: #8fcb31;
}

.topic-green .color-board,
.arc-green .choice-box {
  background-color: #6eb805;
}

.topic-green .color-board i {
  background-color: #549a40;
}

.warn.bg-red {
  background-color: #ffd1cb;
}

.topic-red .color-board,
.arc-red .choice-box,
.pattern.bg-red {
  background-color: #e14116;
}

.topic-red .color-board i {
  background-color: #c82a00;
}

.state-hd.state-gold,
.color-board p .finish,
.topic-gold .color-board i {
  background-color: #ffde59;
}

.attest-right .attest-right-ul li .awarded {
  background-color: #fbcf00;
}

.video-layer md-dialog-content,
.integral-box canvas,
.rank-ul li:hover,
.rank-ul .student-name,
.attent-task,
.uf-right,
.theme-radio .sign i,
.theme-checkbox .sign i,
.button .circle,
.pay-serve-ul .line-gray,
.line-pay,
.table tr:hover,
.dialog-content.dia-practise .teach-target,
.task-content,
.center-table tbody tr:hover,
.integral-table td,
.hy-volume-bar li i,
.video-progress-1,
.ident-clause dt {
  background-color: #f3f3f3;
}

input[type="text"]:disabled,
.button.fab .circle,
.table.offline-table .download-progress,
.url-div,
.state-hd,
.dialog-content.dia-practise .multi-num,
.enter-layer-div .multi-num,
.multi-num,
.finish-box .finish-problem,
.video-progress-2 {
  background-color: #dadada;
}

.centification-div .ident-clause .clause-num {
  background-color: #bebebe;
}

.upgrade-tip,
.table.offline-table .download-progress .download-gray,
.let-students-join {
  background-color: #a2a2a2;
}

.btn-notice-box,
.dialog-content.dia-practise .multi,
.enter-layer-div .multi,
.dialog-content.dia-practise .multi-div.current .multi-num,
.enter-layer-div .multi-div.current .multi-num,
.task-option.current,
.multi-div.current .multi-num,
.multi,
.part-div {
  background-color: #888;
}

.task-close,
.occupied,
.status-play,
.status-pause {
  background-color: #3b3b3b;
}

.rank-ul h5,
.attest-right .attest-right-ul li .awarded,
.issue-hd h3,
.answer,
.header-right .lv-top,
.table.offline-table .download-num,
.table.offline-table .failure-text,
.market-ul p,
.occupied,
.task-challenge em,
.reward-div .reward-num em,
.speed-ul p {
  font-size: 12px;
}

md-tooltip,
.dialog-dxb .innner-subtitle,
.rank-ul .student-name,
.rank-ul h4,
.rank-ul img,
.rank-ul em,
.wid-h2 .red,
.theme-checkbox strong,
.select-wrap.select-sma .chosen,
.header-right .chose-text,
.menu li,
.subhead-2,
.add-students h4,
.dialog-content.dia-practise .task-num,
.dialog-content.dia-practise .multi,
.enter-layer-div .multi,
.dialog-content.dia-practise .multi-num,
.enter-layer-div .multi-num,
.topic h2,
.multi-num,
.task-exercise-right,
.pattern strong,
.multi,
.school-search input,
.no-my-school .row-box input,
.control-to-teacher .cur-speed,
.control-to-teacher .cur-definition,
.speed-ul h4,
.autherized p,
.video-control-time {
  font-size: 14px;
}

md-dialog md-dialog-content p,
input[type='text'],
input[type='password'],
input[type='number'],
.slider input,
.radio-layer md-radio-button,
.start-text,
.chap-nav-ul li,
.cha-list h3,
.list-dl dt,
.integral-box .progress-box .progress-num,
.font-12 .icon,
.rank-xbt span,
.rank-xbt em,
.rank-text-div p,
.renew-ul .theme-checkbox strong,
.alert-r .alert-p,
.p-info-2,
.upgrade-tip p,
.concise-info p,
.attestation-div .attest-title,
.attestation-div .attest-operate,
.attest-ul li,
.attest-tab-box h4,
.attest-right .attest-right-ul li h3,
.uf-left .row-box textarea,
.uf-subtitle,
.uf-subtitle-3,
.compa-content,
.subhead-8,
.radio-group li,
.radio-group li p,
.publisher-ul li:last-child p,
.select-wrap .chosen,
.task-close-2 span,
.dialog-content .dia-p,
.guide-box-mobile.show .step-div h6,
.step-div h5,
.pay-guide .theme-checkbox strong,
.pay-hd .price-old,
.line-pay i,
.p-tip,
.dia-cont-text,
.dia-cont-text p,
.strong-title,
.subhead-3,
.state-hd em,
.state-hd strong,
.state-hd .help-tea,
.dialog-content.dia-practise .multi-anster,
.enter-layer-div .multi-anster,
.detail-choice li h3,
.let-students-join p,
.fire-span,
.tab-button button em,
.task-topic,
.multi-anster,
.task-num,
.analysis-text,
.task-exercise-left,
.task-cover .reward,
.task-cover .cover-p,
.hint-wrap .get-left .span-box,
.hint-wrap .get-right .span-box,
.warn p,
.progress-text,
.pro-num,
.finish-box .finish-level em,
.proceed-div,
.nothing-div,
.user-treasure h5,
.subhead,
.subhead-1,
.user-box .row-box .tel-box,
.user-box label,
.center-table th,
.bt-font-16,
.refund-box h4,
.refund-treatment p,
.bin-box strong,
.tea-guide-div p,
.video-notice-center p,
.ident-clause dt {
  font-size: 16px;
}

.ability-guide h4,
.attest-tab-box h3,
.uf-subtitle-2,
.radio-list h3,
.publisher-div h2,
.theme-radio strong,
.caption-4,
.wealth-right span,
.task-challenge span,
.analysis-btn button .icon,
.task-cover h2,
.task-hint h3,
.reward-div .reward-text,
.user-id h1,
.school-select strong,
.create-onion .onion-div p,
.vip-text h4,
.bt-font-18,
.ident-clause .clause-num,
.ident-clause .clause-1 h4 {
  font-size: 18px !important;
}

.upgrade-tip h1,
.pay-hd .price-cur em,
.pay-price-cent em,
.p-price-cent em,
.topic-bt h3,
.user-id .user-certification,
.headline-level-3,
.video-notice-center .notice-btn-div .icon-refresh,
.video-notice-center .notice-btn-div .icon-low-definition {
  font-size: 20px;
}

.dialog-dxb,
.hd-module h2,
.concise-info h3,
.attestation-div .attest-closed,
.attest-right h2,
.uf-headline,
.uf-headline-2,
.compa-headline,
.guid-layer .guid-text,
.guide-box-3.show .step-div h6,
.guide-box-4.show .step-div h6,
.step-div h4,
.pay-video-box h3,
.pay-div h4,
.p-price,
.headline-2,
.add-students h3,
.headline-3,
.color-board h4,
.progress-text em,
.pro-num strong,
.finish-box h4,
.finish-box .score-box .score-num,
.user-headline .svgvip,
.create-onion h4,
.refund-treatment h4 {
  font-size: 22px;
}

.offline-speed-ul .offline-num,
.task-hd h1,
.plus-box .num-int {
  font-size: 24px;
}

.integral li i,
.task-cover h4,
.headline-1,
.control-to-teacher .video-download .cur-download {
  font-size: 26px;
}

.font-28,
.md-button.md-fab.size-40 .icon,
.attestation-div .icon-arrow-down,
.attest-tab-box h4 .icon-arrow-down,
.headline,
.hd-cont,
.headline-8,
.reward-div .reward-num,
.user-headline,
.tea-guide-div h2 {
  font-size: 28px;
}

.pay-hd .price-cur strong,
.pay-price-cent strong,
.p-price-cent strong {
  font-size: 30px;
}

.md-button.md-icon-button .icon,
.task-hint h2,
.finish-box h3 {
  font-size: 32px;
}

.font-36,
.text-font-36 {
  font-size: 36px;
}

.font-12 {
  font-size: 12px;
}

md-tooltip,
input[type='text'],
input[type='password'],
input[type='number'],
.show-tip,
md-toolbar.md-warn > md-tabs.md-default-theme,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]),
.radio-layer md-radio-button,
.chap-nav-ul li,
.integral-box .progress-box .progress-num,
.integral-graph .integral-pillar,
.integral-graph p,
.add-p,
.attestation-div .attest-closed.icon-wrong:before,
.attest-ul li,
.attent-task .attent-task-box,
.radio-group li span,
.guid-layer .guid-text,
.publisher-ul li:last-child p,
.header-right .chose-text,
.task-close-2 span,
.integral li,
.pay-hd .price-cur em,
.pay-hd .price-old,
.p-tip,
.pay-price-cent,
.hd-cont,
.p-price,
.p-price-cent,
.table th,
.state-hd em,
.state-hd strong,
.state-hd .help-tea,
.wealth-right span,
.occupied,
.topic-bt p,
.let-students-join p,
.task-challenge span,
.fire-span,
.tab-button button,
.task-num,
.task-cover .reward,
.hint-wrap .get-left .span-box,
.hint-wrap .get-right .span-box,
.warn p,
.progress-text,
.pro-num,
.plus-box .num-int,
.finish-box .finish-level em,
.finish-box .score-box .score-num,
.reward-div .reward-num,
.reward-div .reward-num em,
.proceed-div,
.user-box .row-box .tel-box,
.user-box .userdata,
.user-box label,
.class-select md-select,
.center-table th,
.operation-btn,
.text-font-36,
.ticket-box li i,
.bin-box strong,
.integral-table th,
.centification-div .ident-clause .authenticated.icon-check:before,
.autherized p,
.video-notice .blue,
.video-notice-center p,
.load-error .message,
.failedMsg p {
  font-weight: bold;
}

.dialog-dxb .innner-subtitle,
.uf-left .row-box input,
.subhead-2,
.add-students h4,
.subhead-3,
.table .btn-size-14,
.detail-choice li h3,
.task-hint h3,
.pattern strong,
.subhead,
.subhead-1,
.ticket-box li h3 {
  font-weight: normal !important;
}

.start-box .button,
.select-icon,
.hd-module .md-button.md-icon-button,
.hd-module .right-icon,
.select-rank,
.concise-info,
.attest-right,
.uf-right,
.issue-hd .icon,
.compa-btns,
.guide-hd .btn-color-gray,
.guid-layer button,
.select-wrap .chosen .icon,
.header-right,
.state-hd strong,
.task-status progress-bar,
.task-content-right,
.task-btn-box,
.analysis-btn button,
.task-exercise-right,
.pattern i,
.progress,
.progress-fire,
.finish-box .finish-problem,
.no-my-school .row-box,
.vip-hd .select-wrap,
.vip-hd .rig-box,
.right-board {
  float: right;
}

.radio-layer md-radio-button,
.select-text,
.chap-nav-ul li,
.cha-list li,
.cha-list .cha-img,
.cha-list h3,
.list-dl dd,
.hd-module h2,
.go-back-box,
.integral-graph li,
.rank-xbt span,
.rank-xbt em,
.attention .layer-box button > .svglist,
.ques-ul li,
.ques-layer p,
.renew-ul li,
.alert-l,
.alert-r,
.add-p .icon,
.concise-img,
.attestation-div .attest-title,
.attestation-div .attest-progress,
.attestation-div .attest-num,
.attestation-div .attest-operate,
.attestation-div .attest-closed,
.attestation-div .attest-line,
.attest-left,
.attest-ul li,
.attest-img-1 li,
.attest-right .attest-right-ul li,
.uf-left,
.issue-hd h3,
.compa-img,
.guide-hd .guid-nav,
.radio-list,
.radio-list md-radio-button .md-container,
.radio-list .md-switch-thumb .md-container,
.radio-list md-radio-button .md-label,
.radio-list .md-switch-thumb .md-label,
.radio-group li,
.guidStu-target,
.guid-layer .guid-text,
.publisher-ul li,
.wid-html p i,
.wid-html p em,
.wid-html p span,
.select-wrap .sel-img,
.select-value li,
.guide-box-mobile.show .img-mobile,
.questionnaire-1 li,
.offline-speed-ul li,
.logo-div,
.menu,
.header-right .select-wrap,
.integral,
.integral li,
.integral li i,
.pay-serve-ul li,
.line-pay,
.pay-div,
.pay-alert-div .pay-alert,
.mana-box .icon-btn-right button,
.add-students li,
.table td:last-child .icon,
.state-hd .icon-hd,
.state-hd em,
.state-hd .help-tea,
.state-ul li,
.dia-practise-ft button i,
.wealth-right .svglist,
.market-ul li,
.list-topic li,
.detail-choice li,
.task-hd h1,
.task-content-left,
.task-btn-box li,
.analysis-btn button .icon,
.analysis-other,
.task-exercise-left,
.pattern strong,
.progress-text,
.progress-div,
.progress-bar,
.pro-num,
.pro-fire-bar,
.finish-box .finish-time,
.user-treasure li,
.user-nav li,
.user-nav .icon,
.user-box label,
.find-school .select-wrap,
.school-select strong,
.school-box .theme-radio,
.school-box .theme-radio .sign,
.class-select md-select,
.school-search,
.no-my-school .row-box input,
.class-search .row-box,
.sear-list-ul li,
.ticket-box li,
.vip-hd h2,
.vip-text li,
.vip-text h4 i,
.refund-radio li,
.bin-box strong,
.inp-box,
.video-control-play,
.control-to-teacher .video-speed,
.control-to-teacher .video-definition,
.control-to-teacher .video-download,
.sound-div,
.hy-volume-bar li,
.video-control-time,
.video-notice-center .notice-btn-div .icon-refresh,
.video-notice-center .notice-btn-div .icon-low-definition,
.pause,
.button.fab.btn-share,
.left-board,
.wrape-mid {
  float: left;
}

.chap-nav-ul li,
.cha-list,
.img-r-box .img-colsed,
.integral-graph .integral-pillar,
.attention figure,
.upgrade-tip .img-colsed,
.attestation-div .attest-operate,
.attestation-div .attest-closed,
.attest-ul li,
.attest-right .attest-right-ul li,
.issue,
.theme-radio,
.theme-checkbox,
.row-box .svgsignup,
.select-wrap,
.button.fab,
.task-close,
.task-close-2,
.logo-div,
.header-right .select-wrap,
.integral li,
.table th:nth-child(1) input,
.table td:nth-child(1) input,
.table td:last-child .icon,
.detail-choice li,
.task-option,
.task-answer,
.warn .icon-wrong,
.user-treasure li,
.dialog-content .dia-input-div .svgform,
.user-box .row-box .svgform,
.operation-btn,
.control-to-teacher .cur-speed,
.control-to-teacher .cur-definition,
.control-to-teacher .video-download .cur-download,
.speed-ul li,
.autherized p,
.hy-volume-bar li,
.video-progress-1,
.video-notice .icon {
  cursor: pointer;
}

.attent-task,
.uf-barcode,
.guid-video,
.guid-practice,
.b-cover,
.pay-video,
.pay-scan,
.let-students-join,
.task-content-left img,
.analysis-text img,
.task-exercise-left img,
.hint-wrap,
.finish-box .finish-user-box,
.finish-box .finish-level em,
.finish-box .finish-time-box,
.user-bind-img,
.circle-space .cre-com,
.part-div,
.hy-volume-bar li i,
.main-2,
.main-3,
md-progress-circular {
  margin-left: auto;
  margin-right: auto;
}

.rank-ul img,
.attent-task .task-state i,
.theme-radio .sign,
.theme-radio .sign em,
.theme-checkbox .sign,
.theme-checkbox .sign i,
.select-wrap .sel-img,
.button.fab.bg-white,
.button.fab.bg-blue,
.task-close,
.dialog-content.dia-practise .multi,
.enter-layer-div .multi,
.dialog-content.dia-practise .multi-num,
.enter-layer-div .multi-num,
.dialog-content.dia-practise-2 .practice-ul li img,
.choice-box,
.multi-num,
.task-back .select-value button,
.finish-box .finish-avatar,
.multi,
.user-avatar,
.video-control-play,
.video-progress-4,
.status-play,
.status-pause,
.pause,
.video-control-bg .sound,
.button.fab.btn-share {
  border-radius: 50%;
}

.chap-nav,
.chap-nav .line-blue,
.table.offline-table .download-progress,
.table.offline-table .download-progress .download-blue,
.table.offline-table .download-progress .download-gray {
  border-radius: 2px;
}

.finish-box .finish-level em,
.video-progress-1,
.video-progress-2,
.video-progress-3 {
  border-radius: 4px;
}

.row-box .error-text,
.dialog-content .dia-input-div .error-text,
.user-box .row-box .error-text,
.centification-div .ident-clause .authenticated,
.ident-clause .clause-num {
  border-radius: 5px;
}

.finish-box .finish-level {
  border-radius: 6px;
}

.url-div {
  border-radius: 8px;
}

.show-tip,
.chapter-box,
.tree-space,
.list-space,
.img-r-box,
.img-r-box img,
.integral-box .progress-box .progress-bg,
.integral-box .progress-box .progress-bar,
.ability-guide,
.upgrade-tip,
.attestation-div,
.attest-right .attest-right-ul li .awarded,
.attent-task,
.uf-left .row-box textarea,
.guid-video,
.guid-practice,
.mask,
.tip-bottom,
.tip-center,
.tip,
.guide-box.show,
.guide-box-2.show,
.guide-box-3.show,
.guide-box-4.show,
.guide-box-mobile.show,
.detail-choice li,
.let-students-join,
.progress-div .progress-cell,
.ticket-box li i,
.part-div,
.unautherized,
.autherized,
.hy-volume-bar,
.video-slow,
.video-slow-2,
.plus-box,
.reward-div,
.proceed-div {
  border-radius: 10px;
}

.video-layer,
.dialog-content.dia-practise .teach-target,
.color-board p i {
  border-radius: 12px;
}

input[type='text'],
input[type='password'],
input[type='number'],
.guid-layer,
.ident-clause dt {
  border-radius: 18px;
}

.step-div {
  border-radius: 20px;
}

.video-control-bg {
  border-radius: 24px;
}

.attention .show,
.task-exercise-btn .svglist.show,
.show,
.radio-layer,
.pay-div-ewm .ewm-weichat,
.pay-div-ewm .ewm-zhifubao,
.chap-nav .line-blue,
.img-r-box .img-colsed,
.attention .layer-box .wechat,
.ability-guide .arrow-r-4,
.upgrade-tip .img-colsed,
.compa-img,
.radio-group label,
.guidStu-target,
.guid-layer .angle,
.b-cover,
.wid-html p i,
.wid-html p em,
.wid-html p span,
.select-wrap .chosen,
.select-wrap .sel-img,
.task-close,
.task-close-2 span,
.step-div .step-arrow,
.line-pay i,
.img-ewm,
.list-topic li .level,
.topic-bt .video-num-box,
.tab-button button em,
.task-content-left img,
.cons-full-screen .task-exercise-option,
.analysis-text img,
.task-exercise-caption img,
.task-exercise-left img,
.hint-wrap img,
.hint-wrap .get-left .span-box,
.hint-wrap .get-right .span-box,
.finish-box .finish-level em,
.school-box .theme-radio,
.school-box .theme-radio strong,
.ticket-box li img,
.ticket-box li i,
video,
video hy-media video,
.hy-volume-bar li i,
.status-play img,
.status-pause img {
  display: block;
}

.renew-ul .p-other,
.attestation-div .icon-arrow-down,
.attestation-div .attest-line,
.attest-tab-box h4 .icon-arrow-down,
.attest-img-1 li img,
.attest-right .attest-right-ul li .awarded,
.attent-task .task-state i,
.publisher-ul li:last-child p,
.tip-wrape,
.theme-radio,
.select-wrap,
.select-wrap .chosen .cert-user,
.select-wrap .chose-text,
.guide-box,
.table.offline-table .download-progress-div,
.table.offline-table .download-num,
.table.offline-table .download-progress,
.table.offline-table .download-progress .download-blue,
.table.offline-table .download-progress .download-gray,
.table.offline-table .download-progress .download-text,
.dialog-content.dia-practise .multi-line,
.enter-layer-div .multi-line,
.dialog-content.dia-practise .multi,
.enter-layer-div .multi,
.dialog-content.dia-practise .multi-num,
.enter-layer-div .multi-num,
.color-board p i,
.multi-num,
.pattern,
.progress-div .flag-middle,
.progress-div .flag-middle-blue,
.progress-div .flag-last,
.progress-div .flag-last-blue,
.plus-box .num-int,
.multi-line,
.multi,
.user-id .user-certification,
.user-box .row-box .tel-box,
.user-box label .centif-span,
.operation-btn,
.inp-box,
.centification-div .ident-clause .authenticated,
.control-to-teacher .video-speed,
.control-to-teacher .cur-speed,
.control-to-teacher .video-definition,
.control-to-teacher .cur-definition,
.control-to-teacher .video-download,
.control-to-teacher .video-download .cur-download,
.ident-clause dt span:nth-child(1),
.ident-clause .clause-num,
.ident-clause .clause-1,
.inline-block {
  display: inline-block;
}

.list-topic li .button.hidden,
.tab-button button.hidden,
.hidden {
  display: none !important;
}

.headline,
.subhead-8,
.btn-box,
.box-space,
.p-center,
.text-center {
  text-align: center;
}

.topic .box-hd {
  font-size: 28px;
  color: #6a6a6a;
}

.topic .color-board {
  border-radius: 10px;
}

.main {
  width: 1090px;
  margin-left: auto;
  margin-right: auto;
}

.left-board {
  width: 720px;
}

.right-board {
  width: 340px;
}

/* *********************按钮文字大小************* */

.main-2 {
  width: 720px;
}

.wrape-main {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}

.wrape-mid {
  width: 620px;
}

.main-3 {
  width: 860px;
}

.marb30 {
  margin-bottom: 30px;
}

hr {
  border: none;
  border-bottom: 1px solid #f0f0f0;
}

/*<=10240px*/

@media screen and (max-width: 1090px) {
  .header {
    margin-left: 20px;
    margin-right: 6px;
    width: auto;
  }

  .persona-div {
    margin-right: 30px;
  }
}

.guidStu-sprite,
.guidStu-Topbar-01,
.guidStu-add-student-1,
.guidStu-help,
.guidStu-practice,
.guidStu-target,
.guidStu-tips,
.guidStu-video,
.guidStu-wechat-1 {
  background-image: url("./guidStu-sdd7ec79a74.png");
  background-repeat: no-repeat;
}

.guidStu-Topbar-01 {
  background-position: 0 -422px;
}

.guidStu-add-student-1 {
  background-position: 0 -106px;
}

.guidStu-help {
  background-position: 0 -24px;
}

.guidStu-practice {
  background-position: 0 -346px;
}

.guidStu-target {
  background-position: 0 -702px;
}

.guidStu-tips {
  background-position: 0 0;
}

.guidStu-video {
  background-position: 0 -524px;
}

.guidStu-wechat-1 {
  background-position: 0 -216px;
}
